main {
    min-width: 300px;
    max-width: 738px;
    padding: 1px;
    margin: 0 auto;
    background: #fff;
}

.inputs {
    display: none;
}

.labels {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.labels:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.labels[for*='1']:before { content: '\f075'; }
.labels[for*='2']:before { content: '\f087'; }
.labels[for*='3']:before { content: '\f2b5'; }
.labels[for*='4']:before { content: '\f073'; }

.labels:hover {
    color: #888;
    cursor: pointer;
}

.inputs:checked + .labels {
    color: #555;
    border: 1px solid #ddd;
    border-top: 4px solid #5cc9df;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

/*.custom-tab > li > a {*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
/*}*/
/*.custom-tab > li {*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
/*}*/
/*.custom-tab > li > a:link {*/
    /*border-top: 3px solid #5cc9df;*/
    /*border-right: 1px solid #5cc9df;*/
    /*border-left: 1px solid #5cc9df;*/
/*}*/
/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:visited {*/
    /*background-color: #5cc9df;*/
    /*border-top: 3px solid #5cc9df;*/
    /*border-right: 1px solid #5cc9df;*/
    /*border-left: 1px solid #5cc9df;*/
    /*color:#FFF;*/
    /*background-color: #5cc9df;*/
/*}*/
/*.link-lable{*/
    /*text-decoration:none;*/
    /*color:#000;*/
/*}*/
/*@media screen and (max-width: 767px)*/
/*{*/
    /*.link-lable{*/
        /*display:none;*/
    /*}*/
/*}*/



