body{
    background: url("../img/h2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-title{
    color:#5bc0de;
}
.member-content .social-content li a{
    display:inline-block;
    padding:0;
    min-width:40px;
    height:40px;
    font-size:21px;
    line-height:40px;
    color:#5cc9df;
    border-radius:5px;
    box-shadow:0 3px 0 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content .details {
    margin:20px 0 0 20px;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content {
    margin-bottom:30px;
}

.member-thumb{
    text-align:center;
}

.member-thumb h4{
    font-size:21px;
    margin:10px 0;
}

.member-thumb .title{
    font-size:18px;
    margin:10px 0;
    color:#5CC9DF;
}



.member-content:hover .details {
    background:#5bc0de;
    color:#fff;
}

.member-content.right .details {
    margin:20px 20px 0 0;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
}

.member-content .details:after {
    display:block;
    content:"";
    position:absolute;
    left:-18px;
    top:30px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    box-shadow:-3px 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.member-content.right .details:after {
    position:absolute;
    left:auto;
    right:-17px;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.member-content:hover .details:after {
    border-left-color:#5CC9DF;
}

.member-content.right:hover .details:after {
    border-left-color:transparent;
    border-right-color:#5CC9DF;
}

.member-content .details:before {
    display:block;
    content:"\201D";
    position:absolute;
    left:20px;
    top:50px;
    font-size:120px;
    font-weight:800;
    line-height:60px;
    font-family:Arial;
    color:#5cc9df;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content:hover .details:before {
    color:#fff;
}

.member-content .social-content {
    list-style:none;
    margin:0;
    padding:0;
}

.member-content .social-content li {
    display:inline;
    text-align:center;
    margin:0 2px;
}

.member-content:hover .social-content li a {
    color:#fff;
}

.member-content .social-content li a:hover{
    background:#fff;
    color:#5cc9df;
    box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}


body{
    font-family:Roboto;
}

footer{
    background-color: #33383c;
    padding: 33px 0px;
}

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social2 span{
    color: #FFF;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.adress li p , .contact li a , .social2 li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:13px;
}

.social2 li{
    float:left;
}

.adress , .contact , .social2 {
    list-style: none;
}

.fa2{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}

.container2{
    margin-bottom: -20px;
}


.button {
    position: absolute;
    top: 100px;
    left: 200px;
    display: inline-block;
    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow:
            0px 3px rgba(128,128,128,1), /* gradient effects */
            0px 4px rgba(118,118,118,1),
            0px 5px rgba(108,108,108,1),
            0px 6px rgba(98,98,98,1),
            0px 7px rgba(88,88,88,1),
            0px 8px rgba(78,78,78,1),
            0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;

    background-image:
        /* gloss gradient */
            -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(50%,rgba(255,255,255,0)),
                    color-stop(50%,rgba(255,255,255,0.3)),
                    color-stop(100%,rgba(255,255,255,0.2))),

                /* dark outside gradient */
            -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    color-stop(0%,rgba(210,210,210,0.3)),
                    color-stop(20%,rgba(210,210,210,0)),
                    color-stop(80%,rgba(210,210,210,0)),
                    color-stop(100%,rgba(210,210,210,0.3))),

                /* light inner gradient */
            -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    color-stop(0%,rgba(255,255,255,0)),
                    color-stop(20%,rgba(255,255,255,0.5)),
                    color-stop(80%,rgba(255,255,255,0.5)),
                    color-stop(100%,rgba(255,255,255,0))),

                /* diagonal line pattern */
            -webkit-gradient(
                    linear,
                    0% 100%,
                    100% 0%,
                    color-stop(0%,rgba(255,255,255,0)),
                    color-stop(40%,rgba(255,255,255,0)),
                    color-stop(40%,#D2D2D1),
                    color-stop(60%,#D2D2D1),
                    color-stop(60%,rgba(255,255,255,0)),
                    color-stop(100%,rgba(255,255,255,0)));

    -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;

    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button span:hover {
    color: #5bc0de;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow:
            0px 3px rgba(128,128,128,1),
            0px 4px rgba(118,118,118,1),
            0px 5px rgba(108,108,108,1),
            0px 6px rgba(98,98,98,1),
            0px 7px rgba(88,88,88,1),
            0px 8px rgba(78,78,78,1),
            0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.button:active span{
    -webkit-transform: translate(0, 5px); /* depth of button press */
}

.button span:after {
    content: ">";
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    right: 14px;
    top: 12px;

    font-family: 'Cabin';
    font-weight: 700;
    color: #5bc0de;;
    text-shadow: 0px 1px #fff, 0px -1px #97A63A;
    font-size: 26px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.details .read-more,
.details .read-more:hover,
.details .read-more:active,
.details .read-more:focus{
    padding:10px 0;
    text-decoration:none;
    font-size:16px;
    color:#7A7C7F;
    line-height:24px;
}

.member-content:hover .details .read-more,
.member-content:hover .details .read-more:hover,
.member-content:hover .details .read-more:active,
.member-content:hover .details .read-more:focus{
    color:#fff;
}

.details .read-more{
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.details .read-more:hover {
    padding-left:7px;
}

.details .read-more:after{
    content:'\f054';
    padding-left:12px;
    font-family:'FontAwesome';
    font-size:15px;
    line-height:21px;
    color:#5CC9DF;
    vertical-align:middle;
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.details .read-more:hover:after{
    padding-left:20px;
}

.member-content:hover .details .read-more:after{
    color:#fff;
}

.file {
    visibility: hidden;
    position: absolute;
}

