.normalMargin{
}

.minimalMargin{
    margin-top: 240px;
}

.minimalMyIdeas{
    margin-top: 168px;
}

.messageEmpty{
    margin-top: 245px;
}

.messageNotEmpty{
    margin-top: 70px;
}

.homeEmpty{
    margin-top: 160px;
}

.homeNormal{
    margin-top: 0px;
}

.forgotEmpty{
    margin-top: 117px;
}

.forgotNotEmpty{
    margin-top: 55px;
}

.changeEmpty{
    margin-top: 232px;
}

.changeNotEmpty{
    margin-top: 140px;
}