body{
    background: url("../img/i203.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title{
    text-align: center;
    text-shadow: 0 0 10px black;
}