.blog-row {margin-top:50px; }
.margin_bottom30 { margin-bottom:30px; }
.margin_bottom20 { margin-bottom:20px; }
.margin_left10 {margin-left:10px; }
.blog-content {padding:27px; }
.bg-white {background-color:#fff;}