
.myButt {
    outline: none;
    border: none;
    padding: 20px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.four {
    overflow: hidden;
}
.four span {
    color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.four .icon {
    position: absolute;
    left: -60px;
    top: -3px;
    padding: 20px;
    color: black;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.four:hover .icon {
    left: 0px;
}
.four:hover span {
    color: black;
    margin-left: 50px;
}

