

.stepwizard-step p {
    margin-top: 10px;
}

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}


.process-row:before {
    top: 40px;
    left:-100px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 102%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;

}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

