html,body {
    height: 100%;
}

.login-container {
    background-color: #247ba0;
    height: 100%;
}

.login {
    position: absolute;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left:50%;
}

.login .form {
    margin: 0 auto;
    margin-top: 150px;
}

.form .button {
    border: 2px solid #5ba8bc;
    background: #247ba0;
    color: #5ba8bc;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 5px 43px;
    font-size: 24px;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 100px;
}

.logo-image {
    height: 250px;
}

.brand {
    width: 100%;
}

.brand .row {
    display: table;
    margin: 0 auto;
}

.brand .row .text {
    color: #0b4f6c;
    font-family: 'Open Sans', sans-serif;
}

.brand .row img, .brand .row .main-brand-text {
    display: table-cell;
    vertical-align: middle;
}

.main-brand-text::before {
    content: ' ';
    width: 2px;
    height: 130px;
    background-color: #0b4f6c;
    position: absolute;
    top: 55px;
}

.main-brand-text h1 {
    margin-left: 30px;
}

.form-group input[type="text"], .form-group input[type="password"] {
    background-color: #247ba0;
    border: none;
    border-bottom: 2px solid #5ba8bc;
    border-radius: unset;
    color: #5ba8bc;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.form-group .row {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group .row input {
    padding-right: 5px;
    padding-left: 5px;
}

.form-control {
    width: 100%;
}

.form .button:hover {
    background-color: #0b4f6c;
    color: #5ba8bc;
    border-color: #0b4f6c;
    transition: all 0.2s;
}

.inp {
    padding-right: 40px;
    padding-left: 40px;
}

.form-control::-webkit-input-placeholder { color: #5ba8bc; }
.form-control:-moz-placeholder { color: #5ba8bc; }
.form-control::-moz-placeholder { color: #5ba8bc; }
.form-control:-ms-input-placeholder { color: #5ba8bc; }
.form-control::-ms-input-placeholder { color: #5ba8bc; }



.navigation {
    width: 100%;
    background-color:#247ba0;
    display: table;
    height: 70px;
}

.nav-info {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid .row .navigation .center-info{
    color: #c9f1fd;
    font-size: 22px;
    width: 60%;
}

.container-fluid .row .navigation .left-info, .container-fluid .row .navigation .right-info {
    font-size: 16px;
    width: 20%;
    color: #5ba8bc;
}

.container-fluid .row .navigation .left-info {
    padding-left: 50px;
}

.container-fluid .row .navigation .right-info {
    padding-right: 50px;
}

.navigation .icon {
    width: 26px;
    height: 26px;
}

.navigation .icon.user {
    background-image: url("../img/user.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.navigation .icon.logout {
    background-image: url("../img/logout.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}
