

a:hover,a:focus{
        outline: none;
        text-decoration: none;
}
.tab{ text-align: center; }
.tab .nav-tabs{
        display: inline-block;
        border-bottom: none;
        position: relative;
}
.tab .nav-tabs li{
        margin-bottom: 0;
}
.tab .nav-tabs li a{
        display: block;
        padding: 20px;
        border: none;
        border-radius: 0;
        font-size: 17px;
        font-weight: 700;
        color: #444;
        margin-right: 0;
        text-align: center;
        z-index: 1;
        transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a i{
        display: block;
        font-size: 40px;
        color: #00a6ff;
        margin-bottom: 15px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
        border: none;
        background: transparent;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
        content: "";
        width: 0;
        border-top: 3px solid #00a6ff;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:after{
        left: auto;
        right: 0;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
        width: 50%;
}
.tab .tab-content{
        padding: 20px;
        margin-top: -5px;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #d7d6d6;
        font-size: 15px;
        color: #757575;
        line-height: 30px;
}
.tab .tab-content h3{
        font-size: 24px;
        margin-top: 0;
}
@media only screen and (max-width: 479px){
        .tab .nav-tabs li{
                width: 100%;
                text-align: center;
                margin-bottom: 5px;}
        .tab .nav-tabs li a,
        .tab .nav-tabs li a:hover{ border-bottom: 1px solid #dfdfdf; }
        .tab .tab-content{ border-top: none; }
}


body
{
    margin-top: 50px;
}
a:hover { text-decoration:none; }
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.btn-read-more
{
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #5bc0de;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#5bc0de;
}

.btn-read-more:hover
{
    color: #FFF;
    background: #5bc0de;
}
.post { border-bottom:1px solid #DDD }
.post-title {  color:#5bc0de; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}


body {
    margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}



.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cuadro_intro_hover{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
}
.cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
    z-index: 4;
}
.cuadro_intro_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
}

.img-overflow {
    background: #32b8da;
    background: -webkit-linear-gradient(left, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
    background: -o-linear-gradient(left, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
    background: linear-gradient(to right, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8da', endColorstr='#32dac3',GradientType=1 );
    width: 213px;
    height: 145px;
    position: absolute;
    top: 0;
    left: 15px;
    opacity: 0;
}
.item:hover .img-overflow {
    opacity: .8;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

            /*comments*/



