<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/messages.css" />
    <link rel="stylesheet" href="../css/ideas.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/navbar.js"></script>

    <link rel="shortcut icon" href="../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>

    <title>About us</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">My Project Idea</a>-->
            <a href="#" class="navbar-brand">My Project Idea </a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a href="/user/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i class="glyphicon glyphicon-bell"></i> My Ideas <span class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge" style="color: orange"> 10 </span></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Social Media</a></li>
                    <li><a href="#">Finance</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Vehicles</a></li>
                </ul>
            </li>
            <li sec:authorize="isAnonymous()" class="active"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()" class="active"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a href="/user/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>

        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>

        <!--<ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">-->
        <!--<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>-->
        <!--</ul>-->

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-left" action="/">
            <div class="input-group" style="width: auto">
                <input type="text" class="form-control" placeholder="Search for an idea" name="search"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</nav>

    <h1 style="text-align: center; margin-bottom: 50px">About us</h1>

    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.1654874136666!2d26.17271125120999!3d44.4092497790001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fc21a1ba8dab%3A0xfe410df5ccca5d4!2sC%C4%83min+Pallady+2!5e0!3m2!1sen!2sro!4v1521370680203"></iframe>
            </div>

            <div class="span4">
                <h2>Alexandru-Gheorghe Nutu</h2>
                <address>
                    <strong>Junior Software Developer</strong><br/>
                    Bvd. Theodor Pallady, Nr. 24<br/>
                    București, Sector 3<br/>
                    Romania<br/>
                    032451<br/>
                    Phone: 0742 898 420
                </address>
            </div>
        </div>
    </div>


</body>
</html>