<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/messages.css" />
    <link rel="stylesheet" href="../css/ideas.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/bootstrap-dropdownhover.min.js"></script>

    <link href="../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../css/notification.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>

    <title>About us</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" ><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                </ul>
            </li>

            <li class="active" sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li class="active" sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>


        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>


        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-user-circle-o" style="margin-right:10px; font-size:16px" aria-hidden="true"></i><span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!--<div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="dropdown dropdown-notifications">-->
                    <!--<a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>-->
                    <!--</a>-->

                    <!--<div class="dropdown-container dropdown-position-bottomright">-->

                        <!--<div class="dropdown-toolbar">-->
                            <!--<div class="dropdown-toolbar-actions">-->
                                <!--<a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>-->
                            <!--</div>-->
                            <!--<h3 class="dropdown-toolbar-title">Recent (3)</h3>-->
                        <!--</div>-->

                        <!--&lt;!&ndash; /dropdown-toolbar &ndash;&gt;-->
                        <!--<ul class="dropdown-menu notification drop-content">-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>-->
                                        <!--<p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">27. 11. 2015, 15:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>-->

                                        <!--<p class="notification-desc">Resolution: Fixed, Work log: 4h</p>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">27. 10. 2015, 08:00</small>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                        <!--</ul>-->

                        <!--<div class="dropdown-footer text-center">-->
                            <!--<a href="#"> <i class="fa fa-eye"></i> View All</a>-->
                        <!--</div>&lt;!&ndash; /dropdown-footer &ndash;&gt;-->

                    <!--</div>&lt;!&ndash; /dropdown-container &ndash;&gt;-->
                <!--</li>&lt;!&ndash; /dropdown &ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->

    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 style="font-family: 'Crete Round', serif; text-align:center; margin-top: 81px;">About Us</h1>
        <hr class="hr-primary" style="height: 4px; margin-top: 5px" />
    </div>
</div>

    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.1654874136666!2d26.17271125120999!3d44.4092497790001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fc21a1ba8dab%3A0xfe410df5ccca5d4!2sC%C4%83min+Pallady+2!5e0!3m2!1sen!2sro!4v1521370680203"></iframe>
            </div>

            <div class="span4">
                <h2>Alexandru-Gheorghe Nutu</h2>
                <address>
                    <strong>Junior Software Developer</strong><br/>
                    Bvd. Theodor Pallady, Nr. 24<br/>
                    București, Sector 3<br/>
                    Romania<br/>
                    032451<br/>
                    Phone: 0742 898 420
                </address>
            </div>
        </div>
    </div>


</body>
</html>