<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Error</title>
</head>
<body style="background: url('../../img/error2.png')" role="document">

<div style="text-align: center; margin-top: 80px">
    <h1> The page you're trying to access does not exist!</h1>

    <br/>
    <br/>
    <br/>
    <a class="btn btn-primary" th:href="@{'/home'}">Go back
    </a>

</div>

</body>

</html>
