<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js/"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


    <title>Log in</title>
</head>

<body><!-- ng-app="mpi-app">-->

<div ng-controller="loginController as login" class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
            <form name="login" action="login" method="POST" class="form-container" style="color:#fff;">
                <h1 id="title"> My Project Idea </h1>
                <div class="form-group emailInput has-feedback">
                    <label for="username">Email address</label>
                    <input name="username" type="email" class="form-control" id="username" placeholder="Email" required=""/>
                </div>
                <div class="form-group passwordInput has-feedback">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" required=""/>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button>
                <br/><p class="loginbottomtext">Still don't have an account? <a href="/user/createUser">Register</a></p>
            </form>

            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>

</div>


<!--<div ng-controller="loginController as login" class="container-fluid login-container">-->
    <!--<div class="login row">-->
        <!--<div class="brand">-->
            <!--<div class="row">-->
                <!--<img class="img-fluid logo-image" src="./img/logo.png"/>-->
                <!--<div class="text main-brand-text">-->
                    <!--<h1>My</h1>-->
                    <!--<h1>Project</h1>-->
                    <!--<h1>Idea</h1>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="text">-->
                    <!--<h2>Login in to Post your Idea</h2>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form">-->
            <!--<div class="form-group">-->
                <!--<form class="row" name="login" action="login" method="POST">-->
                    <!--<div class="col-md-6 inp">-->
                        <!--<input class="form-control " name="username" type="text" placeholder="Username" />-->
                    <!--</div>-->
                    <!--<div class="col-md-6 inp">-->
                        <!--<input class="form-control" name="password" type="password" placeholder="Password" />-->
                    <!--</div>-->
                    <!--<button class="button" type="submit">Log in</button>-->
                <!--</form>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>-->
<!--<script src="./js/app.module.js"></script>-->
<!--<script src="./js/login.controller.js"></script>-->
<!--<script src="./js/tracker.controller.js"></script>-->
<!--<script src="./js/app.service.js"></script>-->

</body>

</html>