<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Smart Gateway Access</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
    <link rel="stylesheet" href="./css/tracker.css" />

</head>

<body ng-app="gateway-app">


<div ng-controller="loginController as login" class="container-fluid login-container">
    <div class="login row">
        <div class="brand">
            <div class="row">
                <img class="img-fluid logo-image" src="./img/logo.png"/>
                <div class="text main-brand-text">
                    <h1>Smart</h1>
                    <h1>Gateway</h1>
                </div>
            </div>
            <div class="row">
                <div class="text">
                    <h2>Access Tracking System</h2>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="form-group">
                <form class="row" name="login" action="login" method="POST">
                    <div class="col-md-6 inp">
                        <input class="form-control " name="username" type="text" placeholder="Username" />
                    </div>
                    <div class="col-md-6 inp">
                        <input class="form-control" name="password" type="password" placeholder="Password" />
                    </div>
                    <button class="button" type="submit">Log in</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>-->
<!--<script src="./js/app.module.js"></script>-->
<!--<script src="./js/login.controller.js"></script>-->
<!--<script src="./js/tracker.controller.js"></script>-->
<!--<script src="./js/app.service.js"></script>-->

</body>

</html>