<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{../../css/ideas.css}" />
    <link rel="stylesheet" th:href="@{../../css/messages.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../../js/bootstrap-dropdownhover.min.js"></script>
    <script src="../../js/notification.js"></script>
    <script src="../../js/scroll.js"></script>
    <script src="../../js/userHome.js"></script>
    <script src="https://bootsnipp.com/user/snippets/1BXv3#"></script>
    <!--corespunde ajax form-ului, este comentat pentru ca nu mai functioneaza modalele-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>-->
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="../../js/mk-notifications.min.js"></script>
    <script src="../../js/newTabsHome.js"></script>


    <link href="../../css/sideAddButton.css" rel="stylesheet" />
    <link href="../../css/newTabsHome.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Lobster|Playfair+Display" rel="stylesheet"/>
    <link href="../../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../../css/notification.css" rel="stylesheet"/>
    <link href="../../css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/mk-notifications.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"/>

    <link rel="shortcut icon" href="../../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css"/>
    <link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <title> Home </title>
</head>


<body style="overflow:auto;">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" class="active"><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()" class="active"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li sec:authorize="isAuthenticated()" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i style="font-size: 16px" class="fa fa-rss" aria-hidden="true"></i> Following
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!--<li th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>-->
                    <li ><a th:href="${'/user/viewProfile/'}" th:text="User1"></a></li>
                    <li ><a th:href="${'/user/viewProfile/'}" th:text="User2"></a></li>
                    <li ><a th:href="${'/user/viewProfile/'}" th:text="User3"></a></li>
                    <li ><a th:href="${'/user/viewProfile/'}" th:text="User4"></a></li>
                    <li > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;... </li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="${'/user/viewAll/'}">View All</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/mostCommented/(page=0)}">All</a></li>
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/mostCommented/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/home/(page=0)}">All</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li class="divider"></li>
                    <li sec:authorize="isAuthenticated()"><a href="/user/chart/"><i class="fa fa-pie-chart"></i> Category Chart </a></li>
                    <li sec:authorize="isAnonymous()"><a href="/home/chart/"><i class="fa fa-pie-chart"></i> Category Chart </a></li>
                </ul>

            </li>

            <li sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>

        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-user-circle-o" style="margin-right:10px; font-size:16px" aria-hidden="true"></i><span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/mostCommented/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/mostCommented(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</nav>

<ul class='social'>
    <li style="margin-left: -35px">
        <a class="fa fa-plus-square" style="height: 42px" href="/user/postIdea">
            <span>Add idea!</span>
        </a>
    </li>
</ul>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.12&amp;appId=2441875726038205&amp;autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script th:inline="javascript">

    /*<![CDATA[*/

    // wait for the DOM to be loaded
    $(document).ready(

        function likeDislike() {
            // bind 'sendMessageForm' and provide a simple callback function

            $('.myForm #sendForm').on('submit', function(e) {
                e.preventDefault();

                $(this).ajaxSubmit({
                    target: 'myResultDiv'
                });

                var fullname = $('.myForm #send_date').val();

                $('#exampleModal').modal('toggle');

                var config =
                    {
                        positionX: "top",
                        positionY: "right"
                    };

                mkNotifications(config);

                var options =
                    {
                        icon: {
                            class: "fa fa-info",
                            background: "#5bc0de;"
                        },
                        sound: 'true'
                    };

                mkNoti(
                    "<strong>Info</strong>",
                    "Your message was sent to the user " + fullname,
                    options
                );

                $('#body').val('');

            });


            // bind 'likeForm' and provide a simple callback function

            $('.details #likeForm').on('submit', function(e) {
                e.preventDefault(); // prevent native submit

                $(this).ajaxSubmit({
                    target: 'myResultsDiv'
                });

                var thisObject = $(this);
                // atributul value contine id-ul ideii pentru care se executa form-ul
                var ideaCurrentId = parseInt(thisObject.children().attr('value'));

                var copy = thisObject.html();
                thisObject.html('<i style="float: right; font-size:1.5em" class="float-right fa fa-cog fa-spin fa-3x fa-fw"></i>');

                var change = function(){
                    if(copy.indexOf("<span>Like</span>") >= 0){
                        $(".ideaNr").each(function(){
                            // atributul value contine id-ul ideii
                            var idIdea = parseInt($(this).attr("value"));
                            if(idIdea === ideaCurrentId){
                                var nr = parseInt($(this).text()) + 1;
                                $(this).text(' ' + nr + ' ');
                            }
                        });
                        thisObject.html('<button id="likeB"' + ' value=' + '"' + ideaCurrentId + '"' + ' type="submit" class="float-right btn btn-xs text-white btn-warning appreciations" style="float: right"> <i class="fa fa-thumbs-o-down"></i> <span>Dislike</span></button>');
                    }else{
                        $(".ideaNr").each(function(){
                            // atributul value contine id-ul ideii
                            var idIdea = parseInt($(this).attr("value"));
                            if(idIdea === ideaCurrentId){
                                var nr = parseInt($(this).text()) - 1;
                                $(this).text(' ' + nr + ' ');
                            }
                        });
                        thisObject.html('<button id="likeB"' + ' value=' + '"' + ideaCurrentId + '"' + ' type="submit" class="float-right btn btn-xs text-white btn-info appreciations" style="float: right"> <i class="fa fa-thumbs-o-up"></i> <span>Like</span></button>');
                    }
                };
                setTimeout(change, 700);

            });
        }
    );
    /*]]>*/
</script>


<div sec:authorize="isAnonymous()" style="margin-top: 51px;" class="welcome">
    <img src="../../img/cover11.jpg " />
    <h4 class="title" style="font-family: 'Lobster', cursive; font-size: 45px;">Welcome to My Project Idea</h4>
    <div class="text-center submitIdea" style="margin-bottom: 100px; margin-left: 270px; margin-top: 100px">
        <a href="/user/postIdea">
            <button class='myButt four'>
                <div class='icon'>&#10010;</div>
                <span>SUBMIT IDEA </span>
            </button>
        </a>
    </div>
</div>
<div sec:authorize="isAuthenticated()" style="margin-top: 0px;" class="welcome">
    <img style="height: 130px;" src="../../img/cover14.jpg " />
    <h4 class="title" style="left: 6%; top:54%; font-family: 'Lobster', cursive; font-size: 28px;">My Project Idea</h4>
    <div class="text-center submitIdea" style="margin-bottom: 100px; margin-left: 280px; margin-top: 42px">
        <a href="/user/postIdea">
            <button class='myButt four'>
                <div class='icon'>&#10010;</div>
                <span>SUBMIT IDEA </span>
            </button>
        </a>
    </div>
    <i class="fa fa-lightbulb-o title" style="color:#fcea06; left:96%; top:70%; font-size:80px"></i>

</div>

<!--<div style="margin-top:25px" class="fb-share-button" data-href="http://127.0.0.1:8090/home" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8090%2Fhome&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>-->

<h2 th:if="${categoryName} != ''" th:text="'Category / ' + ${categoryName} " style="color:white; text-shadow: 2px 2px 4px #000000; font-size: 18px; position: absolute; margin-top: -50px;margin-left: 300px; margin-bottom: 60px; font-weight: bold"></h2>

<h1 th:if="${qTitle} != ''" th:text=" ${ideasList.getTotalElements()} + ' Ideas found for &quot;' + ${qTitle} + '&quot;' " style="margin-left:50px; margin-bottom: 60px"></h1>

<div th:if="${ideasList.totalPages} == 0" class="container" style="margin-bottom: 50px; width:920px; margin-top: 80px">
    <div class="row">
        <div class="oaerror info">
            <strong>Notice!</strong> - 0 Ideas found with this filter
        </div>
    </div>
</div>

<div class="" style="">
    <div class="first1">
        <div class="container bootstrap snippet" style="margin-top: -35px">
            <section id="team" class="white-bg padding-top-bottom">
                <div class="container bootstrap snippet">

                    <div th:if="${ideasList.totalPages} > 0">

                        <!--<button id="testB">da</button>-->

                        <div class="container" style="margin-bottom: 130px; line-height: 0">
                            <div class="row">

                                <section>
                                    <div class="wizard" style="width:900px; margin-left:80px">
                                        <div class="wizard-inner">
                                            <div class="connecting-line" style="top:33%"></div>
                                            <ul class="nav nav-tabs" role="tablist" style="height: 99px; background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);">

                                                <li role="presentation" style="margin-top: -19px; margin-bottom: 22px;">
                                                    <a sec:authorize="isAuthenticated()" href="/user/home" aria-controls="step1" role="tab" title="The latest ideas">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </span>
                                                    </a>
                                                    <a sec:authorize="isAnonymous()" href="/home" aria-controls="step1" role="tab" title="The latest ideas">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </span>
                                                    </a>
                                                    <p style=" font-size: 16px; font-weight: bold; text-align: center; margin-top: -9px; margin-bottom: 22px;"><small style="font-size: 82%;">Latest Ideas</small></p>
                                                </li>

                                                <li role="presentation" style="margin-top: -19px; margin-bottom: 22px;">
                                                    <a sec:authorize="isAuthenticated()" href="/user/multipleSimilarities" aria-controls="step2" role="tab" title="Ideas with many similarities">
                                                        <span class="round-tab">
                                                            <i class="fa fa-handshake-o"></i>
                                                        </span>
                                                    </a>
                                                    <a sec:authorize="isAnonymous()" href="/home/multipleSimilarities" aria-controls="step2" role="tab" title="Ideas with many similarities">
                                                        <span class="round-tab">
                                                            <i class="fa fa-handshake-o"></i>
                                                        </span>
                                                    </a>
                                                    <p style=" font-size: 16px; font-weight: bold; text-align: center; margin-top: -9px; margin-bottom: 22px;"><small style="font-size: 82%;">Multiple Similarities</small></p>
                                                </li>
                                                <li role="presentation" style="margin-top: -19px; margin-bottom: 22px;">
                                                    <a sec:authorize="isAuthenticated()" href="/user/popular?page=0" aria-controls="step3" role="tab" title="Ideas with many likes">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                                        </span>
                                                    </a>
                                                    <a sec:authorize="isAnonymous()" href="/home/popular?page=0" aria-controls="step3" role="tab" title="Ideas with many likes">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                                        </span>
                                                    </a>
                                                    <p style=" font-size: 16px; font-weight: bold; text-align: center; margin-top: -9px; margin-bottom: 22px;"><small style="font-size: 82%;">Most Popular</small></p>
                                                </li>

                                                <li role="presentation" class="active" style="margin-top: -19px; margin-bottom: 22px;">
                                                    <a sec:authorize="isAuthenticated()" href="/user/mostCommented?page=0" data-toggle="tab" aria-controls="complete" role="tab" title="Ideas with many comments">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-comment"></i>
                                                        </span>
                                                    </a>
                                                    <a sec:authorize="isAnonymous()" href="/home/mostCommented?page=0" data-toggle="tab" aria-controls="complete" role="tab" title="Ideas with many comments">
                                                        <span class="round-tab">
                                                            <i class="glyphicon glyphicon-comment"></i>
                                                        </span>
                                                    </a>
                                                    <p style="color: #5bc0de; font-size: 16px; font-weight: bold; text-align: center; margin-top: -9px; margin-bottom: 22px;"><small style="font-size: 82%;">Most Commented</small></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>


                    </div>

                    <div th:if="${ideasList.totalPages} > 0" th:each="idea : ${ideasList.getContent()}" class="row member-content" style="margin-bottom: 60px; margin-left: 25%;">

                        <div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in" style="margin-left: -38%; margin-top: -30px">
                            <a><img class="img-responsive img-center img-thumbnail img-circle" th:src="@{'../../img/' + ${idea.getUser().getImage()}}" style="width: 82px; height: 82px;" alt="Profile image"/></a>
                            <a sec:authorize="isAuthenticated()" th:if="${idea.getUser().getId()} == ${currentUser.getId()}" href="/user/profile"><h4 id="3qa" th:text="${idea.getUser().getFull_name()}" th:value="${idea.getUser().getFull_name()}" style="color:#5CC9DF;">El jefe</h4></a>
                            <a sec:authorize="isAuthenticated()" th:if="${idea.getUser().getId()} != ${currentUser.getId()}" th:href="@{'/user/viewProfile/' + ${idea.getUser().getId()} }"><h4 id="3qa" th:text="${idea.getUser().getFull_name()}" th:value="${idea.getUser().getFull_name()}" style="color:#5CC9DF;">El jefe</h4></a>
                            <a sec:authorize="isAnonymous()" th:href="@{'/home/viewProfile/' + ${idea.getUser().getId()} }"><h4 id="3qa" th:text="${idea.getUser().getFull_name()}" th:value="${idea.getUser().getFull_name()}" style="color:#5CC9DF;">El jefe</h4></a>
                            <p th:text="${idea.getUser().getOccupation()}" style="color:black; font-size: 13px" class="title">Lead Designer &amp; Founder</p>
                            <p sec:authorize="isAuthenticated()" th:if="${idea.getUser().getId()} != ${currentUser.getId()}" data-placement="top" title="Edit"><a th:href="@{/user/findOne/(id=${idea.getUser().getId()})}" class="btn btn-warning btn-xs sBtn" data-title="Edit" data-target="#edit" ><span class="glyphicon glyphicon-envelope"></span></a></p>
                        </div>

                        <div class="col-sm-7">
                            <div class="details" style="margin: -40px -192px 65px -80px;">

                                <a sec:authorize="isAuthenticated()" th:if="${currentUser.getId() == idea.getUser().getId() || currentUser.getRole() == 0}" th:href="@{/user/findOneIdea/(id=${idea.getId()})}" class="btn btn-danger btn-xs delBtn" data-title="Delete" style="float:right" ><span class="glyphicon glyphicon-trash"></span></a>
                                <h4 th:text="${idea.getTitle()}" style="font-size: 21px; font-weight: bold; display:inline-block; margin-right:10px;"></h4>
                                <a style="display:inline-block;" href="http://bootsnipp.com/" target="_blank"><span style="font-size: 19px" class="fa fa-share-alt"></span></a>
                                <p th:text="${idea.getBody()}"> Lorem Ipsum is simply dummy text of the printing and typesetting </p>

                                <form sec:authorize="isAuthenticated()" id="likeForm" name="likeForm" th:action="@{/user/likedislike/(idIdea=${idea.getId()})}" method="post" role="form">
                                    <button id="likeB" th:value="${idea.getId()}" th:classappend="${idea.getLiked()} == 1 ? btn-warning : btn-info " type="submit" class="float-right btn btn-xs text-white appreciations" style="float: right"> <i th:classappend="${idea.getLiked()} == 1 ? fa-thumbs-o-down : fa-thumbs-o-up"  class="fa"></i> <span th:text="${idea.getLiked()} == 1 ? Dislike : Like"></span></button>
                                </form>

                                <a sec:authorize="isAuthenticated()" class="read-more" th:href="@{'/user/viewIdea/' + ${idea.getId()}}">Read More</a>
                                <a sec:authorize="isAnonymous()" class="read-more" th:href="@{'/home/viewIdea/' + ${idea.getId()}}">Read More</a>

                                <br/>
                                <br/>
                                <div class="row" style="font-size: 12px">
                                    <div class="span8">
                                        <p>
                                            <i class="glyphicon glyphicon-thumbs-up"></i><i class="ideaNr" style="font-weight: bold;" th:text="${' ' + idea.getLikenumber() + ' '}" th:value="${idea.getId()}"></i><i style="color: #337ab7">Likes</i>
                                            | <i class="glyphicon glyphicon-comment"></i><i style="font-weight: bold;" th:text="${' ' + idea.getComnumber() + ' '}"></i><i style="color: #337ab7">Comments</i>
                                            | <i class="fa fa-handshake-o"></i><i style="font-weight: bold;" th:text="${' ' + idea.getSimnumber() + ' '}"></i><i style="color: #337ab7">Similarities</i>
                                            | <i class="glyphicon glyphicon-tags" style="font-size: 10px"></i> <i> Tags :</i>
                                            <a sec:authorize="isAuthenticated()" th:href="@{/user/mostCommented/(page=0,q=${tag.getBody()})}" th:each="tag : ${idea.getTags()}" ><span th:text="${tag.getBody()}" class="label label-primary">Bootstrap</span></a>
                                            <a sec:authorize="isAnonymous()" th:href="@{/home/mostCommented(page=0,q=${tag.getBody()})}" th:each="tag : ${idea.getTags()}" ><span th:text="${tag.getBody()}" class="label label-primary">Bootstrap</span></a>
                                        </p>
                                    </div>
                                </div>

                                <p class="posted" style="float:right; font-size: 11px"><i class="fa fa-calendar"></i><em th:text="' Posted on ' + ${idea.getPosted_date()}"> Posted on August 24, 2014 at 9:00 PM</em>&nbsp;&nbsp;<span class="glyphicon glyphicon-tasks"></span> <span class="label label-default" style="font-size: 10px" th:text="${idea.getCategory().getBody()}"> Education</span></p>
                                <br/>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="clearfix"></div>
        <ul th:if="${ideasList.totalPages} > 0" class="pagination" style="margin-left:660px; margin-bottom: 100px">
            <li th:if="${currentPage} == 0" class="disabled"><a onclick="return false;"><span class="glyphicon glyphicon-chevron-left"></span></a></li>

            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != 0 and ${qTitle} != '' and ${categoryName} == ''"><a th:href=" @{/user/mostCommented/(page=${currentPage-1}, q=${qTitle})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != 0 and ${qTitle} == '' and ${categoryName} == ''"><a th:href=" @{/user/mostCommented/(page=${currentPage-1})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != 0 and ${categoryName} != ''"><a th:href=" @{/user/mostCommented/(page=${currentPage-1}, category=${currentCategory})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>

            <li sec:authorize="isAnonymous()" th:if="${currentPage} != 0 and ${qTitle} != '' and ${categoryName} == ''"><a th:href=" @{/home/mostCommented(page=${currentPage-1}, q=${qTitle})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li sec:authorize="isAnonymous()" th:if="${currentPage} != 0 and ${qTitle} == '' and ${categoryName} == ''"><a th:href=" @{/home/mostCommented(page=${currentPage-1})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li sec:authorize="isAnonymous()" th:if="${currentPage} != 0 and ${categoryName} != ''"><a th:href=" @{/home/mostCommented(page=${currentPage-1}, category=${currentCategory})}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>

            <li th:classappend="${currentPage} == ${i}?'active':''" th:each="i : ${#numbers.sequence(0, ideasList.totalPages-1)}">

                <a sec:authorize="isAuthenticated()" th:if="${qTitle} != '' and ${categoryName} == ''" th:href="@{/user/mostCommented/(page=${i}, q=${qTitle})}" th:text="${i}">1</a>
                <a sec:authorize="isAuthenticated()" th:if="${qTitle} == '' and ${categoryName} == ''" th:href="@{/user/mostCommented/(page=${i})}" th:text="${i}">1</a>
                <a sec:authorize="isAuthenticated()" th:if="${qTitle} == '' and ${categoryName} != ''" th:href="@{/user/mostCommented/(page=${i},category=${currentCategory})}" th:text="${i}">1</a>

                <a sec:authorize="isAnonymous()" th:if="${qTitle} != '' and ${categoryName} == ''" th:href="@{/home/mostCommented(page=${i}, q=${qTitle})}" th:text="${i}">1</a>
                <a sec:authorize="isAnonymous()" th:if="${qTitle} == '' and ${categoryName} == ''" th:href="@{/home/mostCommented(page=${i})}" th:text="${i}">1</a>
                <a sec:authorize="isAnonymous()" th:if="${qTitle} == '' and ${categoryName} != ''" th:href="@{/home/mostCommented(page=${i},category=${currentCategory})}" th:text="${i}">1</a>

            </li>
            <li th:if="${currentPage} == ${ideasList.totalPages-1}" class="disabled"><a onclick="return false;"><span class="glyphicon glyphicon-chevron-right"></span></a></li>

            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${qTitle} != '' and ${categoryName} == ''"> <a th:href=" @{/user/mostCommented/(page=${currentPage+1},q=${qTitle})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${qTitle} == '' and ${categoryName} == ''"> <a th:href=" @{/user/mostCommented/(page=${currentPage+1})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            <li sec:authorize="isAuthenticated()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${categoryName} != ''"> <a th:href=" @{/user/mostCommented/(page=${currentPage+1},category=${currentCategory})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>

            <li sec:authorize="isAnonymous()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${qTitle} != '' and ${categoryName} == ''"> <a th:href=" @{/home/mostCommented(page=${currentPage+1},q=${qTitle})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            <li sec:authorize="isAnonymous()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${qTitle} == '' and ${categoryName} == ''"> <a th:href=" @{/home/mostCommented(page=${currentPage+1})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            <li sec:authorize="isAnonymous()" th:if="${currentPage} != ${ideasList.totalPages-1} and ${categoryName} != ''"> <a th:href=" @{/home/mostCommented(page=${currentPage+1},category=${currentCategory})}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>

    </div>

</div>

<div class="myForm">
    <form id="sendForm" name="sendForm" th:action="@{/user/send/(page=${currentPage},pageType=1)}" method="post">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Send a message</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id_receiver" name="id_receiver" type="hidden" value=""/>
                        <div class="form-group">
                            <input id="send_date" name="send_date" value="" class="form-control" type="text" readonly="" />
                        </div>
                        <div class="form-group">
                            <textarea id="body" name="body" rows="2" class="form-control" required="" value="" placeholder="Type your message here..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
</div>

<div class="myFormDelete">
    <form th:action="@{/user/deleteIdea/(page=${currentPage})}" method="post">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete this idea</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id" name="id" type="hidden" value=""/>
                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Idea?</div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
</div>

<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>

<br/>
<br/>
<footer style="margin-top: 0px;">
    <div class="container container2">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">
                    <span>Adress</span>

                    <li>
                        <p></p>
                    </li>

                    <li>
                        <p>Bvd. Theodor Pallady Nr. 24, București </p>
                    </li>

                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="contact">
                    <span>Contact</span>

                    <li>
                        <a>Telephone: +40 742 898 420</a>
                    </li>

                    <li>
                        <a>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alexg.nutu@gmail.com</a>
                    </li>

                    <li>
                        <a>Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+02 342 65225</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <ul class="social2">
                    <span>Social</span>
                    <li>
                        <a href="https://www.facebook.com/alex.nutu.1" target="_blank"><i class="fa fa-facebook fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/AlexNutu" target="_blank"><i class="fa fa-github fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/alexgnutu/" target="_blank"><i class="fa fa-linkedin fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://www.tumblr.com/blog/alexg-t" target="_blank"><i class="fa fa-tumblr fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/u/0/106198043038355377855" target="_blank"><i class="fa fa-google-plus fa-2x fa2"></i></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</footer>


</body>
</html>