<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/ideas.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/bootstrap-dropdownhover.min.js"></script>
    <script src="../js/myProfile.js"></script>
    <link href="../css/myProfile.css" rel="stylesheet"/>

    <link href="../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../css/notification.css" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css"/>
    <link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css"/>

    <title>My profile</title>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" class="active"><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()" class="active"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                </ul>
            </li>

            <li sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>


        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>


        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-user-circle-o" style="margin-right:10px; font-size:16px" aria-hidden="true"></i><span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!--<div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="dropdown dropdown-notifications">-->
                    <!--<a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>-->
                    <!--</a>-->

                    <!--<div class="dropdown-container dropdown-position-bottomright">-->

                        <!--<div class="dropdown-toolbar">-->
                            <!--<div class="dropdown-toolbar-actions">-->
                                <!--<a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>-->
                            <!--</div>-->
                            <!--<h3 class="dropdown-toolbar-title">Recent (3)</h3>-->
                        <!--</div>-->

                        <!--&lt;!&ndash; /dropdown-toolbar &ndash;&gt;-->
                        <!--<ul class="dropdown-menu notification drop-content">-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>-->
                                        <!--<p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">27. 11. 2015, 15:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>-->

                                        <!--<p class="notification-desc">Resolution: Fixed, Work log: 4h</p>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">27. 10. 2015, 08:00</small>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                            <!--<li class="notification">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-left">-->
                                        <!--<div class="media-object">-->
                                            <!--<img src="../img/notif.svg" class="img-circle" alt="Name"/>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>-->

                                        <!--<div class="notification-meta">-->
                                            <!--<small class="timestamp">1. 9. 2015, 08:00</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->

                        <!--</ul>-->

                        <!--<div class="dropdown-footer text-center">-->
                            <!--<a href="#"> <i class="fa fa-eye"></i> View All</a>-->
                        <!--</div>&lt;!&ndash; /dropdown-footer &ndash;&gt;-->

                    <!--</div>&lt;!&ndash; /dropdown-container &ndash;&gt;-->
                <!--</li>&lt;!&ndash; /dropdown &ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->

    </div>
</nav>

    <div class="container">
        <div class="row">
            <h1 style="text-align:center; margin-top: 81px;">My Profile</h1>
            <hr class="hr-primary" style="height: 4px; margin-top: 5px" />

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <div class="panel panel-default">
                    <div class="userprofile social ">
                        <div class="userpic"> <img th:src="${'../img/' + image}" alt="" class="userpicimg"/> </div>
                        <h3 class="username" th:text="${fullname}" style="font-size: 30px">Lucky Sans</h3>
                        <p th:text="'- ' +${occupation} + ' -'"> Developer </p>
                        <!--<div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">-->
                            <!--<i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">-->
                            <!--<i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">-->
                            <!--<i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning "><i class="fa fa-envelope"></i></a>-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-12 border-top border-bottom">
                        <ul class="nav nav-pills pull-left countlist" role="tablist">
                            <li role="presentation">
                                <div style="text-align: center">
                                    <h3 style="color: #7FDBFF" class="count" id="ideaNr" th:text="${noOfIdeas} ">12</h3>
                                    <br/>
                                    <h3>
                                        <i style="font-size: 27px" class="icon fa fa-lightbulb-o"></i>
                                        <br/>
                                        <small>Ideas</small>
                                    </h3>
                                </div>
                            </li>
                            <li role="presentation">
                                <div style="text-align: center">
                                    <h3 class="count2" style="color:#FF4136;" id="matchNr" th:text="${noOfMatchings}" >45</h3>
                                        <br/>
                                    <h3>
                                        <i class="icon fa fa-handshake-o"></i>
                                        <br/>
                                        <small>Matchings</small>
                                    </h3>
                                </div>
                            </li>
                            <li role="presentation">
                                <div style="text-align: center">
                                    <h3 class="count3" style="color: #0074D9" id="likeNr" th:text="${noOfLikes}">14</h3>
                                        <br/>
                                    <h3>
                                        <i class="icon glyphicon glyphicon-thumbs-up"></i>
                                        <br/>
                                        <small>Likes</small>
                                    </h3>
                                </div>
                            </li>
                            <li role="presentation">
                                <div style="text-align: center">
                                    <h3 class="count4" style="color: #f0ad4e;" id="commNr" th:text="${noOfComments}">52</h3>
                                        <br/>
                                    <h3>
                                        <i class="icon glyphicon glyphicon-comment"></i>
                                        <br/>
                                        <small>Comments</small>
                                    </h3>
                                </div>
                            </li >
                        </ul>
                        <a href="/user/accountSettings" class="btn btn-info followbtn"><i class="glyphicon glyphicon-wrench"></i> Edit Profile</a>
                        <!--<button class="btn btn-primary followbtn">Follow</button>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>