<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:gcse="">
<head>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/postIdea.css" />
    <link rel="stylesheet" href="../css/ideas.css"/>
    <link rel="stylesheet" href="../css/viewIdea.css"/>
    <link rel="stylesheet" href="../css/messages.css"/>
    <link rel="stylesheet" href="../css/signup.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="../../js/bootstrap-dropdownhover.min.js"></script>
    <script src="../js/postIdea.js"></script>

    <link href="../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../css/notification.css" rel="stylesheet"/>
    <link href="../../css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="../../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title> Post Idea </title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" class="active"><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()" class="active"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i class="glyphicon glyphicon-bell"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                </ul>
            </li>

            <li sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>


        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>


        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" role="button" aria-expanded="false">
                    <span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-notifications">
                    <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
                        <i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>
                    </a>

                    <div class="dropdown-container dropdown-position-bottomright">

                        <div class="dropdown-toolbar">
                            <div class="dropdown-toolbar-actions">
                                <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                            </div>
                            <h3 class="dropdown-toolbar-title">Recent (3)</h3>
                        </div>

                        <!-- /dropdown-toolbar -->
                        <ul class="dropdown-menu notification drop-content">

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                                        <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 11. 2015, 15:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                                        <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 10. 2015, 08:00</small>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="dropdown-footer text-center">
                            <a href="#"> <i class="fa fa-eye"></i> View All</a>
                        </div><!-- /dropdown-footer -->

                    </div><!-- /dropdown-container -->
                </li><!-- /dropdown -->
            </ul>
        </div>

    </div>
</nav>


<div class="container" style="margin-top: 80px">
    <div class="row">
        <h1 style="margin-bottom: -10px; text-align:center; margin-top: 0;">Submit an Idea <i style="font-size: 28px" class="glyphicon glyphicon-edit"></i></h1>
        <hr class="hr-primary" style="  height: 4px;" />
    </div>
</div>

<div class="alert alert-info">Did you know? The application automatically generates <strong>keywords </strong> based on the idea's description!</div>

<div th:if="${displaySuccess}" style="margin-top: -9px; text-align: center; font-size: 20px; width: 60%; margin-left: 20%" class="alert alert-success alert-dismissible fade in" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Your <a th:href="@{'/user/viewIdea/' + ${idCreatedIdea}}" class="alert-link">idea</a> was posted!
</div>
<div th:if="${duplicate}" style="text-align: center; margin-top: -9px; font-size: 20px; width: 60%; margin-left: 20%" class="alert alert-warning alert-dismissible fade in" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> You already posted this idea!
</div>
<div th:if="${format}" style="text-align: center; font-size: 20px; width: 60%; margin-left: 20%; margin-top: -9px" class="alert alert-danger alert-dismissible fade in" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Oops!</strong> Please correct the idea's description!
</div>

<form class="form-horizontal" th:action="@{/user/postIdea}" th:object="${idea}" enctype="multipart/form-data" method="POST" data-toggle="validator" role="form" style="margin-top: 2%;">
    <fieldset>

        <div style="text-align: center; margin-left: 5%;">


            <!-- Text input title-->
            <div class="form-group"  style="margin-bottom: 2%; width: 100%">
                <label class="col-md-4 control-label" for="inputTitle">Title</label>
                <div class="col-md-4">
                    <input onkeyup='swap_val(this.value);' id="inputTitle" th:field="*{title}" minlength="5" name="inputTitle" type="text" placeholder="Idea's Title" class="form-control input-md" required=""/>
                    <div class="help-block with-errors">Minimum 5 characters</div>
                </div>
            </div>

            <!-- Text input description-->
            <div class="form-group" style="margin-bottom: 2%; width: 100%">
                <label class="col-md-4 control-label" for="inputDescription">Description</label>
                <div class="col-md-4">
                    <textarea id="inputDescription" rows="5" th:field="*{body}" minlength="20" name="inputDescription" required="" placeholder="Idea's Description" class="form-control input-md">
                    </textarea>
                    <div class="help-block with-errors">Minimum 20 characters</div>
                </div>
            </div>

            <!-- Select input-->
            <div class="form-group" style="width: 100%; margin-bottom: 3%;">
                <label for="selectCategory" class="col-md-4 control-label">Category</label>
                <div class="col-md-4">
                    <select class="form-control input-md" th:field="*{category.id}" id="selectCategory" required="">
                        <option value=""></option>
                        <option th:each="category: ${categoryList}" th:value="${category.getId()}" th:text="${category.getBody()}"></option>
                    </select>
                    <div class="help-block with-errors">Category is important to find your matchings!</div>
                </div>
            </div>

            <!-- Search idea input-->
            <div class="form-group" style="width: 100%; margin-bottom: 3%;">
                <label class="col-md-4 control-label">Search Photos On the Internet</label>
                <div class="col-md-4">
                    <div1 name="ideaSearch" id="ideaSearch" ></div1>
                    <script>
                        (function() {
                            var cx = '000177612292244595468:f9dm84wvcsg';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.enableAutoComplete = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.placeholder = 'da';
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search enableHistory="true" disableWebSearch="true" enableAutoComplete="true" linkTarget="_blank" autoCompleteMaxCompletions="5" autoCompleteMatchType='any'></gcse:search>
                </div>
            </div>

            <div class="form-group" style="width: 100%; margin-bottom: 3%;">
                <label for="selectImage" class="col-md-4 control-label">Image (Optional)</label>
                <div class="col-md-4">
                        <input type="file" accept="image/png, image/jpeg, image/jpg, image/gif" name="file" id="selectImage" class="file" />
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                                 <input type="text" th:field="*{image_path}" style="background-color: white" class="form-control input-md" readonly="true" placeholder="Upload Image"/>
                            <span class="input-group-btn">
                                 <button class="browse btn btn-default input-md" style="background-color: #eee" type="button"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Browse</button>
                            </span>
                        </div>
                </div>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group col-md-4" style="width: 100%; margin-bottom:41px">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-8" style="text-align: center; float: none !important;">
                <button id="save" name="save" type="submit" class="btn btn-success">Submit</button>
                <a id="cancel" href="/user/home" type="button" name="cancel" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </fieldset>
</form>







</body>
</html>