<!DOCTYPE html>
<html class=''>
<head>

    <!--<meta name="robots" content="noindex"/>-->
    <!--<meta name="viewport" content="width=device-width"/>-->


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../../test.css" />

    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>



<body>

<h1 id="titlul" class="test">vasdas</h1>

<main>

    <input class="inputs" id="tab1" type="radio" name="tabs" checked=""/>
    <label class="labels" for="tab1">Tab1</label>

    <input class="inputs" id="tab2" type="radio" name="tabs"/>
    <label class="labels" for="tab2">Tab2</label>

    <input class="inputs" id="tab3" type="radio" name="tabs"/>
    <label class="labels" for="tab3">Reports</label>

    <input class="inputs" id="tab4" type="radio" name="tabs"/>
    <label class="labels" for="tab4">Tab4</label>

    <section id="content1">
        <p>
            1111111111111
        </p>
    </section>

    <section id="content2">
        <p>
            22222222222222
        </p>
    </section>

    <section id="content3">
        <p>
            3333333333333333333
        </p>
    </section>

    <section id="content4">
        <p>
            4444444444444444444
        </p>
    </section>

</main>


</body>


</html>
