<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../css/ideas.css"/>
    <link rel="stylesheet" href="../../css/viewIdea.css"/>
    <link rel="stylesheet" href="../../css/messages.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-dropdownhover.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <link href="../../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../../css/notification.css" rel="stylesheet"/>
    <link href="../../css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="../../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!--comments-->

    <meta name="robots" content="noindex"/>
    <link rel="mask-icon" type=""
          href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
          color="#111"/>
    <link rel="canonical" href="https://codepen.io/kavendish/pen/aOdopx?q=comment&amp;limit=all&amp;type=type-pens"/>
    <meta name="viewport" content="width=device-width"/>
    <!--<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'/>-->
    <link rel="stylesheet" href="../../css/comments.css" />

    <title>Idea</title>
</head>

<script th:inline="javascript">
    /*<![CDATA[*/

    var imagePath = /*[[${userImage}]]*/ 'default';

    // wait for the DOM to be loaded
    $(document).ready(

        function newComment() {

            // bind 'myForm' and provide a simple callback function
            $('#commentForm').ajaxForm(function() {

                commentBody = $(".commentInput .commentBody").val();
                userImage = /*[[${userImage}]]*/ 'default';
                userName = /*[[${username}]]*/ 'default';
                comDate = /*[[${commentDate}]]*/ 'default';

                if($.trim(commentBody) == '') {
                    return false;
                }

                $('<div class="comment-wrap">' +
                        '<div class="photo">' +
                            '<img class="avatar2" src=' + '"' + userImage + '"' + ' alt="" />' +
                        '</div>' +
                        '<div class="comment-block">' +
                            '<p class="comment-text">' + commentBody + '</p>' +
                            '<div class="bottom-comment">' +
                                '<div class="comment-date">' + comDate + '</div>' +
                                '<ul class="comment-actions">' +
                                    '<li class="complain"> by' + '</li>' +
                                    '<li class="reply">' + userName + '</li>' +
                                '</ul>' +
                            '</div>' +
                        '</div>' +
                  '</div>'

                ).prependTo($('.commentList'));

                $(".commentInput .commentBody").val(null);
            });

            $('.btnComment').prop('disabled', true);
            $('.commentBody').on('keyup' , function() {
                if( $.trim($('.commentBody').val()).length > 0 ) {
                    $('.btnComment').prop('disabled', false);
                }
                else {
                    $('.btnComment').prop('disabled', true);
                }
            });
        }
    );

    /*]]>*/
</script>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()" ><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()" ><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i class="glyphicon glyphicon-bell"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                </ul>
            </li>

            <li sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>


        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right"
           href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>


        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown"
                   role="button" aria-expanded="false">
                    <span th:text="'Welcome, ' + ${username}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-notifications">
                    <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
                        <i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>
                    </a>

                    <div class="dropdown-container dropdown-position-bottomright">

                        <div class="dropdown-toolbar">
                            <div class="dropdown-toolbar-actions">
                                <a href="#"><i class="glyphicon glyphicon-search"></i> View All</a>
                            </div>
                            <h3 class="dropdown-toolbar-title">Recent (3)</h3>
                        </div>

                        <!-- /dropdown-toolbar -->
                        <ul class="dropdown-menu notification drop-content">

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Dave Lister</a> commented on <a href="#">DWARF-13 - Maintenance</a></strong>
                                        <p class="notification-desc">I totally don't wanna do it. Rimmer can do it.</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 11. 2015, 15:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">Nikola Tesla</a> resolved <a href="#">T-14 - Awesome stuff</a></strong>

                                        <p class="notification-desc">Resolution: Fixed, Work log: 4h</p>

                                        <div class="notification-meta">
                                            <small class="timestamp">27. 10. 2015, 08:00</small>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="notification">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object">
                                            <img src="../img/notif.svg" class="img-circle" alt="Name"/>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <strong class="notification-title"><a href="#">James Bond</a> resolved <a href="#">B-007 - Desolve Spectre organization</a></strong>

                                        <div class="notification-meta">
                                            <small class="timestamp">1. 9. 2015, 08:00</small>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="dropdown-footer text-center">
                            <a href="#"> <i class="fa fa-eye"></i> View All</a>
                        </div><!-- /dropdown-footer -->

                    </div><!-- /dropdown-container -->
                </li><!-- /dropdown -->
            </ul>
        </div>

    </div>
</nav>


<div th:object="${idea}" style="margin-top: 67px">

    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <h1 th:text="${idea.getTitle()}" style="font-size: 30px; font-weight: bold;">Blog Post Template for
                    Bootstrap</h1>
                <p class="lead" style="font-size: 14px"><i class="fa fa-user"></i> by <a
                        th:text="${idea.getUser().getFull_name()}" href="">Super User</a></p>
                <span style="font-size: 12px"> <i class="fa fa-calendar"></i> <span
                        th:text="'  Posted on ' + ${idea.getPosted_date()}"> Posted on August 24, 2014 at 9:00 PM </span></span>
                <div class="form-inline">
                    <span style="font-size: 12px"><i class="glyphicon glyphicon-th-list"></i> Category: <span
                            th:text="${idea.getCategory().getBody()}" style="font-size: 10px;"
                            class="badge badge-pill badge-info">Education</span>
                    </span>
                    <span style="font-size: 12px">
                        <i class="fa fa-tags"></i> Tags:
                        <span th:each=" tag : ${idea.getTags()}">
                            <span th:text="${tag.getBody()}" style="font-size: 10px;"
                                  class="label label-info">Bootstrap</span>
                        </span>
                    </span>
                </div>

                <hr/>
                <img th:src="@{'../../img/' + ${idea.getImage_path()}}" class="img-responsive" style="width:650px; height:309px"  />
                <hr/>
                <h4><strong>Description</strong></h4>
                <p th:text="${idea.getBody()}">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                    Lorem ipsum dolor Lorem ipsum dolor.</p>

                <br/>
            </div>
        </div>
    </div>


    <div class="container" style="text-align: center">
        <div class="row">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="margin-left: 15px;">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                              data-toggle="tab"><i class="fa fa-handshake-o"></i>
                        Matchings</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><i
                            class="glyphicon glyphicon-comment"></i> Comments</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h3 style="margin-left: -46px; text-decoration: underline; margin-top: 24px; font-size: 30px; margin-bottom: 55px;">
                            Matchings <i class="fa fa-handshake-o"></i></h3>
                        <div class="col-md-10">

                            <div style="text-align: center; margin-bottom: 10px; margin-left: 145px">
                                <div th:if="${#lists.isEmpty(ideaList)}" class="alert alert-info" role="alert">
                                    <span>This Idea has 0 matchings!</span>
                                </div>
                            </div>

                            <div th:each="idea : ${ideaList}" class="row" style="margin-bottom: 50px">
                                <div class="col-md-12 post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 th:text="${idea.getTitle()}" style="color: #5bc0de; margin-left: -69rem; margin-bottom: 13px; font-size: 25px">
                                                <strong><a class="post-title">Cool Share Button Effects Styles</a></strong>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="row post-content" style="margin-bottom: 15px">
                                        <div class="col-md-3 item">
                                            <a th:href="'/user/viewIdea/' + ${idea.getId()}">
                                                <img style="width:213px; height: 145px" src="../../img/i14.jpeg"
                                                     alt="" class="img-responsive"/>
                                                <span class="img-overflow"></span>
                                            </a>
                                        </div>
                                        <div class="col-md-7" style="width: 74.333333%;">
                                            <p style="font-size: 16px;" th:text="${idea.getBody()}">
                                                Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam
                                                tation option.
                                            </p>
                                            <button sec:authorize="isAuthenticated()" class="btn btn-warning" style="display: inline-block;">
                                                Message
                                            </button>
                                            <p sec:authorize="isAuthenticated()" style="margin-left: 10px; display: inline-block;">
                                                <a class="btn btn-read-more" th:href="'/user/viewIdea/' + ${idea.getId()}">Read more</a>
                                            </p>
                                            <p sec:authorize="" style="margin-left: 10px; display: inline-block;">
                                                <a class="btn btn-read-more" th:href="'/user/viewIdea/' + ${idea.getId()}">Read more</a>
                                            </p>

                                            <br/>
                                            <p th:text="'Semantic : ' + ${idea.getSemantic()} + ' %'"  style="display: inline-block; font-size: 19px; font-weight: bold"> </p>
                                            <p th:text="'Sintactic : ' + ${idea.getSintactic()} + ' %'" style="display: inline-block; margin-left: 148px; font-size: 19px; font-weight: bold">Sintactic % : </p>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-left: -180px">
                                        <div class="col-md-15 post-header-line">
                                            <span class="glyphicon glyphicon-user"></span>by <a th:text="${idea.getUser().getFull_name()}" href="#">Bhaumik</a>
                                            | <span class="glyphicon glyphicon-calendar"></span> <span th:text="${idea.getPosted_date()}"> Sept 16th, 2012</span>
                                            | <span class="glyphicon glyphicon-comment"></span> <a th:text="${idea.getComments().size()} + ' Comments'" href="#"> 3 Comments </a>
                                            | <button disabled="" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> <span th:text="${idea.getAppreciations().size()} + ' Likes'"></span></button>
                                            | <span style="font-size: 12px"><i class="glyphicon glyphicon-th-list"></i> Category:
                                              <span th:text="${idea.getCategory().getBody()}" style="font-size: 12px;" class="badge badge-pill badge-info">Education</span> </span>
                                            | <span class="glyphicon glyphicon-tags"> </span>Tags : <span th:each="tag : ${idea.getTags()}" th:text="${tag.getBody()}" class="label label-info">Snipp</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h3 style=" margin-left: -46px; text-decoration: underline; font-size: 30px; margin-bottom: 55px;">
                            Comments <i class="glyphicon glyphicon-comment"></i>
                        </h3>

                        <div class="comments" style="max-width: 83.75rem; margin-left: 120px">


                            <div class="comment-wrap" sec:authorize="isAuthenticated()">
                                <div class="photo">
                                    <div class="avatar" th:style="'background-image: url(' + @{'../../img/' + ${currentUser.getImage()}} + '); margin-right:10px; '" id="commentPhoto"
                                         style=" ">
                                    </div>
                                </div>
                                <div class="comment-block commentInput">
                                    <form id="commentForm" name="commentForm" th:action="@{'/user/viewIdea/' + ${idea.getId()}}" th:object="${comment}" method="post" data-toggle="validator" role="form">
                                        <textarea class="commentBody" th:field="*{body}" required="" cols="30" rows="3" placeholder="Add comment..." ></textarea>
                                        <button  style="float: right" class="btn btn-success btn-circle btnComment" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Comment </button>
                                    </form>
                                </div>
                            </div>

                            <div style="text-align: center; margin-bottom: 10px;">
                                <div sec:authorize="isAnonymous()" class="alert alert-info" role="alert">
                                    <span>Please <a href="/user/createUser"> Sign Up </a> in order to post comments!</span>
                                </div>
                            </div>

                            <div class="commentList" name="commentList">
                                <div th:each="com : ${comments}" class="comment-wrap">
                                    <div class="photo">
                                        <img th:src= "@{'../../img/' + ${com.getUser().getImage()}}" class="avatar2"/>
                                    </div>
                                    <div class="comment-block">
                                        <p th:text="${com.getBody()}" class="comment-text" >Lorem ipsum dolor sit amet, Cumque, corrupti?</p>
                                        <div class="bottom-comment">
                                            <div th:text="${com.getPosted_date()}" class="comment-date">Aug 24, 2014 @ 2:35 AM</div>
                                            <ul class="comment-actions">
                                                <li class="complain">by</li>
                                                <li th:text="${com.getUser().getFull_name()}" class="reply">Cineva</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<footer style="margin-top:112px !important; margin-bottom:-17px; !important; right: 0; bottom: 0; left: 0;">
    <div class="container container2">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">
                    <span>Adress</span>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p>Bvd. Theodor Pallady Nr. 24, București </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="contact">
                    <span>Contact</span>
                    <li>
                        <a>Telephone: +40 742 898 420</a>
                    </li>
                    <li>
                        <a>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alexg.nutu@gmail.com</a>
                    </li>
                    <li>
                        <a>Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+02 342 65225</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <ul class="social2">
                    <span>Social</span>
                    <li>
                        <a href="https://www.facebook.com/alex.nutu.1" target="_blank"><i
                                class="fa fa-facebook fa-2x fa2"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/AlexNutu" target="_blank"><i class="fa fa-github fa-2x fa2"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alexgnutu/" target="_blank"><i
                                class="fa fa-linkedin fa-2x fa2"></i></a>
                    </li>
                    <li>
                        <a href="https://www.tumblr.com/blog/alexg-t" target="_blank"><i
                                class="fa fa-tumblr fa-2x fa2"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/106198043038355377855" target="_blank"><i
                                class="fa fa-google-plus fa-2x fa2"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
