<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-dropdownhover.min.js"></script>
    <script src="../../js/myProfile.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="../../js/mk-notifications.min.js"></script>
    <script src="../../js/notification.js"></script>
    <script src="../../js/userHome.js"></script>

    <link href="../../css/messages.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/ideas.css" />
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet"/>
    <link href="../../css/myProfile.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-notifications.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-notifications.min.css" rel="stylesheet"/>
    <link href="../../css/notification.css" rel="stylesheet"/>
    <link href="../../css/animate.min.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/mk-notifications.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="../../img/icon.png"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css"/>
    <link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css"/>

    <title>User profile</title>

</head>

<script th:inline="javascript">

    /*<![CDATA[*/

    // wait for the DOM to be loaded
    $(document).ready(

        function followButton() {

            //send Message
            $('.myForm #sendForm').on('submit', function(e) {
                e.preventDefault();

                $(this).ajaxSubmit({
                    target: 'myResultDiv'
                });

                var fullname = $('.myForm #send_date').val();

                $('#exampleModal').modal('toggle');

                var config =
                    {
                        positionX: "top",
                        positionY: "right"
                    };

                mkNotifications(config);

                var options =
                    {
                        icon: {
                            class: "fa fa-info",
                            background: "#5bc0de;"
                        },
                        sound: 'true'
                    };

                mkNoti(
                    "<strong>Info</strong>",
                    "Your message was sent to the user " + fullname,
                    options
                );

                $('#body').val('');

            });

            var fullname = /*[[${viewedUser.getFull_name()}]]*/ 'default';
            var listLength = /*[[${displayedUsers.size()}]]*/ 'default';
            var viewedUserFullname = /*[[${viewedUser.getFull_name()}]]*/ 'default';
            var viewedUserId = /*[[${viewedUser.getId()}]]*/ 'default';


            $('.button-checkbox #followForm').on('submit', function(e) {
                e.preventDefault(); // prevent native submit

                $(this).ajaxSubmit({
                    target: 'myResultsDiv'
                });
                if(listLength < 3){

                    var $widget = $('.button-checkbox');
                    var $checkbox = $widget.find('input:checkbox');
                    var wasChecked = $checkbox.is(':checked');
                    // daca nu e checked atunci adaugam elementul
                    // alert(wasChecked);
                    if(wasChecked){
                        $('<li style="margin-top: 2px"> ' + '<a style="color: black" href="/user/viewProfile/' + viewedUserId + '">' + viewedUserFullname + '</a> ' +'</li>').appendTo($('.dropdown-menu .followList'));
                    }else {
                        $('.dropdown-menu .followList li:last-child').remove();
                    }
                }
            });

            $('.button-checkbox').each(function () {

                // Settings
                var $widget = $(this),
                    $button = $widget.find('button'),
                    $checkbox = $widget.find('input:checkbox'),
                    color = $button.data('color'),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };

                // Event Handlers
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });

                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $button
                            .html('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> Following')
                            .removeClass('btn-default')
                            .addClass('btn-' + color + ' active');
                        $('#followMessage').html(
                            '<div style="margin-bottom: -50px" class="container">' +
                                '<div class="row">' +
                                     '<div class="col-sm-6 col-md-6" style="margin-left: 120px">' +
                                         '<div class="alert alert-info">' +
                                            '<span class="glyphicon glyphicon-info-sign"></span> ' +
                                            ' <strong>Info Message</strong>' +
                                            '<hr class="message-inner-separator"/>' +
                                            '<p> You now receive mails when <strong> ' + fullname + ' </strong> is posting new ideas! </p>' +
                                         '</div>' +
                                     '</div>' +
                                '</div>' +
                            '</div>'
                        );
                    }
                    else {
                        $button
                            .html('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> &nbsp; Follow &nbsp;')
                            .removeClass('btn-' + color + ' active')
                            .addClass('btn-default');
                        $('#followMessage').html('');
                    }
                }

                
                // Initialization
                function init() {

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        }
    );
    /*]]>*/
</script>

<body style="overflow: auto; background: url('../../img/h1.jpg');">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img style="margin-top: -31px;height: 80px; padding: 15px; width: 80px;" src="../../img/icon11.png" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a href="/user/home/?page=0"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>
            <li sec:authorize="isAnonymous()"><a href="/home"><i class="glyphicon glyphicon-home"></i> Home</a></li><li class="divider-vertical"></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/myIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> My Ideas <span th:text="${myIdeasNumber}" class="badge" style="color: #5bc0de;"> 100 </span></a></li>

            <li sec:authorize="isAuthenticated()"><a href="/user/messages/-1"><i class="glyphicon glyphicon-envelope"></i> Messages <span th:text="${messagesNumber}" class="badge" style="color: orange"> 10 </span></a></li>

            <li sec:authorize="isAuthenticated()" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i style="font-size: 16px" class="fa fa-rss" aria-hidden="true"></i> Following
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <ul class="followList">
                            <li style="margin-top: 2px" th:each="user : ${displayedUsers}"><a style="color: black" th:href="@{'/user/viewProfile/' + ${user.getId()}}" th:text="${user.getFull_name()}"></a></li>
                        </ul>
                    </li>
                    <!--<li th:each="user : ${displayedUsers}"><a style="color: black" th:href="@{'/user/viewProfile/' + ${user.getId()}}" th:text="${user.getFull_name()}"></a></li>-->
                    <li th:if="${followingUsers.size()} > 3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;... </li>
                    <li role="separator" class="divider"></li>
                    <li th:if="${followingUsers.size()} == 0"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No followings </li>
                    <li th:if="${followingUsers.size()} > 0"><a th:href="${'/user/followings/'}"><i class="glyphicon glyphicon-th-list"></i> View Separately</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" href="#"><i class="glyphicon glyphicon-th-list"></i> Categories
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/home/(page=0)}">All</a></li>
                    <li sec:authorize="isAuthenticated()" th:each="category : ${categoryList}"><a th:href="@{/user/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/home/(page=0)}">All</a></li>
                    <li sec:authorize="isAnonymous()" th:each="category : ${categoryList}"><a th:href="@{/home/(page=0,category=${category.getId()})}" th:text="${category.getBody()}">Education</a></li>
                    <li class="divider"></li>
                    <li sec:authorize="isAuthenticated()"><a href="/user/chart/"><i class="fa fa-pie-chart"></i> Category Chart </a></li>
                    <li sec:authorize="isAnonymous()"><a href="/home/chart/"><i class="fa fa-pie-chart"></i> Category Chart </a></li>
                </ul>
            </li>

            <li sec:authorize="isAuthenticated()" th:if="${currentUser.getRole() == 0}" ><a href="/user/dashboard"><i class="fa fa-users"></i> Dashboard </a></li>

            <li sec:authorize="isAnonymous()"><a href="/home/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/about"><i class="glyphicon glyphicon-info-sign"></i> About Us</a></li>

        </ul>

        <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
            <li><a href="/home/createUser"><span class="glyphicon glyphicon-off"></span> Sign Up</a></li>
        </ul>


        <a sec:authorize="isAnonymous()" style="color: white" class="btn btn-success navbar-btn navbar-right" href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>


        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-animations="pulse" data-hover="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-user" style="margin-right:10px; font-size:16px" aria-hidden="true"></i><span th:text="'Welcome, ' + ${currentUser.getUsername()}" th:remove="tag"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="/user/accountSettings"><i class="glyphicon glyphicon-cog"></i> Account settings </a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>

        <form sec:authorize="isAuthenticated()" th:action="@{/user/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/home/(page=0)}" method="get" class="navbar-form navbar-left">
            <div class="input-group" style="width: auto">
                <input name="q" id="q" type="text" required="" pattern=".*\S+.*" class="form-control" placeholder="Search for an idea" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 style="font-family: 'Crete Round', serif; text-align:center; margin-top: 81px;"><u>User Profile</u> <i class="fa fa-user"></i></h1>
        <hr class="hr-primary" style="height: 4px; margin-top: 5px" />

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div class="userprofile social ">
                    <div class="userpic"> <img th:src="${'../../img/' + image}" style="height: 100%" alt="User's image" class="userpicimg"/> </div>
                    <h3 class="username" th:text="${fullname}" style="line-height: 23px; font-size: 30px">Lucky Sans</h3>
                    <p style="margin-bottom: 30px" th:text="'- ' +${occupation} + ' -'"> Developer </p>
                </div>

                <p sec:authorize="isAuthenticated()" data-placement="top" title="Edit"><a th:href="@{/user/findOne/(id=${viewedUser.getId()})}" class="btn btn-warning btn-xs sBtn messageButton" data-title="Edit" data-target="#edit" ><span class="glyphicon glyphicon-envelope"></span></a></p>

                <a style="margin-right: 14px" sec:authorize="isAuthenticated()" th:href="@{/user/userIdeas/(page=0,userId=${viewedUser.getId()})}" class="btn btn-warning viewIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> View Ideas  </a>
                <a style="margin-right: 14px" sec:authorize="isAnonymous()" th:href="@{/home/userIdeas/(page=0,userId=${viewedUser.getId()})}" class="btn btn-warning viewIdeas"><i style="font-size: 17px" class="fa fa-lightbulb-o"></i> View Ideas </a>
                <p th:if="${phone} != null" style=" margin-right: 14px; color: #ffffff; text-shadow: 2px 2px 4px #000000; font-weight: bold " class="phoneNumber"><i>Phone: </i><span th:text="${phone}">02130812931</span></p>

                <div sec:authorize="isAuthenticated()" class="container">
                        <div class="button-checkbox">
                            <form id="followForm" name="followForm" th:action="@{/user/follow/(idUser=${viewedUser.getId()})}" method="post" role="form">
                                <button style="margin-top: -110px; margin-left: -28px; outline:0;" th:text="${following} ? ${'Following'} : ${'Follow'}" type="submit" class="btn" data-color="success">Follow</button>
                                <input type="checkbox" th:attr="checked=${ following ? 'checked' : null}" class="hidden" />
                            </form>
                        </div>
                </div>

                <div class="col-md-12 border-top border-bottom">
                    <ul style="margin-top: -10px" class="nav nav-pills pull-left countlist" role="tablist">
                        <li role="presentation">
                            <div style="text-align: center">
                                <h3 style="color: #7FDBFF" class="count" id="ideaNr" th:text="${noOfIdeas} ">12</h3>
                                <br/>
                                <h3>
                                    <i style="font-size: 27px" class="icon fa fa-lightbulb-o"></i>
                                    <br/>
                                    <small>Ideas</small>
                                </h3>
                            </div>
                        </li>
                        <li role="presentation">
                            <div style="text-align: center">
                                <h3 class="count2" style="color:#FF4136;" id="matchNr" th:text="${noOfMatchings}" >45</h3>
                                <br/>
                                <h3>
                                    <i class="icon fa fa-handshake-o"></i>
                                    <br/>
                                    <small>Similarities</small>
                                </h3>
                            </div>
                        </li>
                        <li role="presentation">
                            <div style="text-align: center">
                                <h3 class="count3" style="color: #0074D9" id="likeNr" th:text="${noOfLikes}">14</h3>
                                <br/>
                                <h3>
                                    <i class="icon glyphicon glyphicon-thumbs-up"></i>
                                    <br/>
                                    <small>Likes</small>
                                </h3>
                            </div>
                        </li>
                        <li role="presentation">
                            <div style="text-align: center">
                                <h3 class="count4" style="color: #f0ad4e;" id="commNr" th:text="${noOfComments}">52</h3>
                                <br/>
                                <h3>
                                    <i class="icon glyphicon glyphicon-comment"></i>
                                    <br/>
                                    <small>Comments</small>
                                </h3>
                            </div>
                        </li >
                    </ul>

                    <div id="followMessage" sec:authorize="isAuthenticated()">
                        <!--The follow message is generated in javascript-->
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="myForm">
    <form id="sendForm" name="sendForm" th:action="@{/user/send/(pageType=1)}" method="post">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Send a message</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id_receiver" name="id_receiver" type="hidden" value=""/>
                        <div class="form-group">
                            <input id="send_date" name="send_date" value="" class="form-control" type="text" readonly="" />
                        </div>
                        <div class="form-group">
                            <textarea id="body" name="body" rows="2" class="form-control" required="" value="" placeholder="Type your message here..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
</div>


<footer style="margin-top: 85px;">
    <div class="container container2">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <ul class="adress">
                    <span>Adress</span>

                    <li>
                        <p></p>
                    </li>

                    <li>
                        <p>Bvd. Theodor Pallady Nr. 24, București </p>
                    </li>

                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <ul class="contact">
                    <span>Contact</span>

                    <li>
                        <a>Telephone: +40 742 898 420</a>
                    </li>

                    <li>
                        <a>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alexg.nutu@gmail.com</a>
                    </li>

                    <li>
                        <a>Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+02 342 65225</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <ul class="social2">
                    <span>Social</span>
                    <li>
                        <a href="https://www.facebook.com/alex.nutu.1" target="_blank"><i class="fa fa-facebook fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/AlexNutu" target="_blank"><i class="fa fa-github fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/alexgnutu/" target="_blank"><i class="fa fa-linkedin fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://www.tumblr.com/blog/alexg-t" target="_blank"><i class="fa fa-tumblr fa-2x fa2"></i></a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/u/0/106198043038355377855" target="_blank"><i class="fa fa-google-plus fa-2x fa2"></i></a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</footer>


</body>
</html>